# Файлы окружения
.env
config/database.php  # если есть чувствительные данные

# Кэш
/cache/*
!/cache/.gitkeep
/uploads/
/temp/
/videos/


# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Временные файлы
*.tmp